.title{
    &-underline{
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--divider);
    }
}
.btn{
    border: 0;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    transition:box-shadow 0.2s ;
    &:hover{
        box-shadow: var(--box-shadow);
        transition:box-shadow 0.2s ;
    }
    &-primary{
        background: var(--primary);
        color: white;
    }
    &_secondary{
        border: 1px solid var(--primary);
        color: var(--primary);
        background:white;
    }
    &-danger{
        border: 1px solid var(--errors);
        background: white;
        color: var(--errors);
    }
    &-dark{
        background: var(--dark);
    }
}
.text{
    &-error{
        color: var(--errors);
    }
}
.navbar-toggler{
    transform: translateY(60px);
    background: var(--dark);
    margin-bottom: 2rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem 1rem;
    height: 80px;
    border-radius: 50%;
}
.show{
    display: flex;
    margin-right: auto;
    margin-bottom: 1rem;
}
.align{
    // align-items: flex-start;
}
.navbar {
   
    box-sizing: content-box;


}